/* GENERAL */
body {
  background-color: antiquewhite;

}

/* .sidebar {
  width: 50%;
  background: url('/public/images/flowerforheader.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
} mediumseagreen*/

h1, h2 {
  font-family: 'Courgette', serif;
  font-style: italic;
  text-align: center;
  color: purple;
  text-shadow: 2px 1px indianred;
}

h3 {
  font-family: 'Cantarell';
  margin-left: 20%;
}

a {
  color: purple;
}



form {
  margin-left: 20%;
  font-family: 'Caveat', 'Arial';
}

/*Index */
.index {
  font-family: 'Cantarell', cursive;
  font-size: 20px;
  }

.name {
display: inline-block;
padding: 60px
/* flex-direction: row; */
/* flex-wrap: wrap; */
}

.create {
  color: purple;
  /* padding-top: 30px; */
  margin-left: 40%;
}

/* Show*/
.show-main, h3 {
  margin-left: 15%;
  font-family: 'Cantarell', cursive;
  color: darkslategray;
  text-shadow: 2px 1px silver;
}

.show-image {
  margin-left: 40%;
}

h5 {
  margin-left: 20%;
  font-family: 'Cantarell', cursive;
  font-weight: bolder;
  text-decoration: underline;
  color: purple;
}

p, .shop {
  margin-left: 20%;
  margin-right: 20%;
  color: purple;
  font-family: 'Cantarell', serif;
  font-style: italic;
}

.back {
  color: purple;
  padding-top: 30px;
  margin-left: 40%;
}

/* app/index.ejs */
.app_index {
  /* margin-top: 5%; */
  background-image: url("../images/flowerforheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: opacity: 0.3;
  filter: alpha(opacity=30); */
}

/* .about {
  margin-left: 10%;
  margin-top: 10%;
  font-family: 'Cantarell', serif;
  font-size: 25px;
  font-style: italic;
  text-shadow: 1px 1px indianred;
  text-decoration: underline;
} */

.btn  {
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 50%;
  background-color: mediumseagreen;
  font-size: 20px;
  font-family: 'Cantarell';
  font-style: italic;
  text-decoration: underline;
}

/* .btn2  {
  margin-top: 5%;
  margin-left: 43%;
  border-radius: 50%;
  background-color: mediumseagreen;
  font-size: 20px;
  font-family: 'Cantarell';
  font-style: italic;
  text-decoration: underline;

} */

/* a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block; */
