/* GENERAL */
body {
  background-color: mediumseagreen;

}

/* .sidebar {
  width: 50%;
  background: url('/public/images/flowerforheader.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
} */

h1 {
  font-family: 'Courgette', cursive;
  text-align: center;
  color: purple;
  text-shadow: 2px 1px indianred;
}

h3 {
  font-family: 'Cantarell';
  margin-left: 20%;
}

a {
  color: purple;
}



form {
  margin-left: 20%;
  font-family: 'Caveat', 'Arial';
}

/*Index */
.index {
  font-family: 'Cantarell', cursive;
  font-size: 20px;
  }
  
.name {
display: inline-block;
padding: 60px
/* flex-direction: row; */
/* flex-wrap: wrap; */
}

.create {
  color: purple;
  /* padding-top: 30px; */
  margin-left: 40%;
}

/* Show*/
.show-main, h3 {
  margin-left: 15%;
  font-family: 'Cantarell', cursive;
  color: darkslategray;
  text-shadow: 2px 1px silver;
}

.show-image {
  margin-left: 40%;
}

h5 {
  margin-left: 20%;
  font-family: 'Cantarell', cursive;
  font-weight: bolder;
  text-decoration: underline;
  color: purple;
}

p, .shop {
  margin-left: 20%;
  margin-right: 20%;
  color: purple;
  font-family: 'Cantarell', serif;
  font-style: italic;
}

.back {
  color: purple;
  padding-top: 30px;
  margin-left: 40%;
}

/* a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block; */
