<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head2.ejs %>
    <script src="modal.js" charset="utf-8"></script>
  </head>
  <body class="app_index">
    <nav>
    <a class="btn" href="/users/new">Sign Up</a>
    <!-- <h3>or</h3> -->
    <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      About
    </button>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <h2>Welcome to My Favorite Things</h2>

  </body>
</html>


<!-- <a class="about" href="About">About</a> -->
